*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #A07855FF;
}
.container{
    background-color: #D4B996FF;
    height: 50vh;
    width: 50%;
    text-align: center;
    align-items: center;
    margin: 180px auto;
    border-radius: 10px;
}
.dropdown{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.head{
    padding-top: 20px;
    font-size: 30px;
}
.input p{
    font-size: 17px;
    margin-top: 10px;
}
.input input{
    padding: 7px;
    width: 250px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 700;
}
.select-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.select-container img{
    width: 50px;
}
.select-container select{
    height: 20px;
    border: none;
    outline: none;
    border-radius: 5px; 
}
.from{
    text-align: left;
    padding: 10px 40px;
}
.to{
    text-align: left;
    padding: 10px 40px;
}
.dropdown i{
    margin-top: 40px;
    font-size: 20px;
    font-style: italic;
}
.last{
    padding-top: 30px;
}
.last p{
    font-style: italic;
}
.exchangebtn{
    margin-top: 10px;
    padding: 10px 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffff;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(106, 79, 55);
}



